@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');  

body{
  font-family: 'Merriweather', serif;
  background-color: #121212;
  color: #e0e0e0;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container{
  max-width: 600px;
  margin: 40px auto;
  padding: 20px;
  background-color: #1e1e1e;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.container h1{
  font-size: 2rem;
  margin-bottom: 20px;
  color: #bb86fc;
  text-align: center;
}

form{
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

input[type="text"]{
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #333;
  border-radius: 4px;
  background-color: #2e2e2e;
  color: #e0e0e0;
}

input[type="text"]::placeholder{
  color: #a1a1a1;
}

button{
  padding: 10px;
  border-radius: 4px;
  background-color: #bb86fc;
  color: #121212;
  font-weight: bold;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #a06bff;
}

/* Todo Item Styling */
.todo-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  margin-bottom: 10px;
  background-color: #2a2a2a;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
}

.todo-item h3 {
  margin: 0;
  font-size: 0.9rem;
  color: #e0e0e0;
}

.todo-item input[type="checkbox"] {
  width: 20px;
  height: 20px;
  cursor: pointer;
}

/* Scrollbar Styling */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background-color: #121212;
}

::-webkit-scrollbar-thumb {
  background-color: #bb86fc;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #a06bff;
}


.right-todo {
  display: flex;
  justify-content: center;
  align-items: center;
}